
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> config_files/log ###
/apache_php_log/*
!/apache_php_log/.*
/apache_log/*
!/apache_log/.*
###< config/files ###


###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/coverage/*
!/coverage/.*
###< phpunit/phpunit ###

/.vscode